<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WolQuickTileApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.WakeShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <service
            android:name=".service.AndroidProxyService"
            android:exported="false"
            android:foregroundServiceType="specialUse|dataSync"
            android:label="@string/proxy_service_notification_title">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="local_network_wol_proxy" />
        </service>
        <receiver
            android:name=".service.AndroidProxyBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.WolTileService01"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 01"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService02"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 02"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService03"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 03"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService04"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 04"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService05"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 05"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService06"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 06"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService07"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 07"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService08"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 08"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService09"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 09"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService10"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 10"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService11"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 11"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService12"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 12"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService13"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 13"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService14"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 14"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService15"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 15"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService16"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 16"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService17"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 17"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService18"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 18"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService19"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 19"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService20"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 20"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService21"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 21"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService22"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 22"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService23"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 23"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService24"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService25"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 25"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService26"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 26"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService27"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 27"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService28"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 28"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService29"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 29"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService30"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 30"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService31"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 31"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService32"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 32"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService33"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 33"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService34"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 34"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService35"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 35"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService36"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 36"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService37"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 37"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService38"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 38"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService39"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 39"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService40"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 40"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService41"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 41"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService42"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 42"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService43"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 43"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService44"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 44"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService45"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 45"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService46"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 46"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService47"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 47"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService48"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 48"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService49"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 49"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service
            android:name=".service.WolTileService50"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="WOL 50"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
    </application>
</manifest>
